ion-icon{
    font-size: 40px;
    border-radius: 4px;
    margin-left: 550%;

    // background-color: black;
}
ion-button{
    text-align: center;
    margin-left: 65%;
    margin-top: 10%;
    font-size: 17px;
}
.service{
    top: 10%;
    
}
.hydrated{
    top: 5%;
}
.service{
    position: absolute;
    top: 15%;
    width: 88%;
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: #0b1c1f;
    border: 1px solid rgba(147, 184, 189, 0.8);
    border-radius: 15px;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    margin-left: 5%;

}
 
