<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Serviços</ion-title>
    
      <ion-icon name="download-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add-service">

  <ion-item>
    <ion-label position="floating">Serviço</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descrição</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Valor</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button (click)="add_service()"> Adicionar</ion-button>

   </div>
</ion-content>
