<ion-header>
  <ion-toolbar>
    <ion-title> I-Service </ion-title> 

  </ion-toolbar>
</ion-header>

<ion-content>
  <form method="post" action="">
    <div class="login">
              <h1>Login</h1>

            <p>
        <label for="email">E-mail</label>
        <input required [{ngModel}]="user.email" id="email" name="email" placeholder="email"  type="email"
            required /> 
    </p> 
    <p>
        <label for="senha">Senha</label>
        <input required [{ngModel}]="user.password" type="password" id="password" name="password" placeholder="password" 
            required />
    </p>

    <p>
        <input type="submit" value="Login" (click)="login()" />
    </p>

   </div>
   <div class="add">
       <p class="link">
        Ainda não tem conta?
       <ion-icon name="person-add-outline" (click)="register()" class="icon"></ion-icon> 
    </p> 
   </div>

</form>
</ion-content>
