<ion-header>
  <ion-toolbar>
    <ion-title> 
      <ion-button color="primary" (click)="navigateService()">Adicionar Serviços</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar showCancelButton="always"></ion-searchbar>

  <ion-card>
    <div class="card-feed">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </div>
  </ion-card>
  <ion-card>
    <div class="card-feed">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </div>
  </ion-card>
</ion-content>

