<ion-header>
  <ion-toolbar>
    <ion-title> I-Service </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="cadastro">

  
  <form method="post" action="">
   <h1>
       <ion-icon name="chevron-back-circle-outline" (click)="home()" class="icon"></ion-icon>   
       Cadastro</h1>

    <p>
        <label for="senha_cad">Nome</label>
        <input id="senha_cad"  required="required" type="text" placeholder="" />
    </p>
    <p>
        <label for="email_cad">E-mail</label>
        <input  id="email_cad"  required="required" type="email" placeholder="" />
    </p>

    <p>
        <label for="senha_cad">Senha</label>
        <input  id="senha_cad"  required="required" type="password" placeholder="" />
    </p>
    
    <p>
        <label for="senha_cad">Confirmar Senha</label>
        <input  id="senha_cad"  required="required" type="password" placeholder="" />
    </p>
  
    <p>
        <label for="senha_cad">CPF</label>
        <input  id="senha_cad" required="required" type="text" placeholder="" />
    </p>
    <p>
        <label for="senha_cad">Telefone</label>
        <input  id="senha_cad"  required="required" type="text" placeholder="" />
    </p>


    <p>
        <input type="submit" value="Cadastrar" (click)="register()" />
    </p>

</form>
</div>
</ion-content>